.brown-sugar {
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#table-yuk {
    margin: 20px 0px 10px 50px;
    background-color: beige;
    padding: 20px;
}